<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>所有表单</title>
    <link rel="stylesheet" href="/static/layui/css/layui.css">
    <style>
        * {margin: 0 auto;}
        body{min-width: 960px}
        .div_top {font-size: 13px;line-height: 30px;margin-bottom: 20px;font-family: 微软雅黑;color: #a0a0a0}
        .div01{float: left;width: 19.6%;margin-bottom: 20px;margin-right:2.4%;border-radius: 8px;border: 5px solid #dbdbdb;padding: 10px;background: white;position:relative;height: calc(15vh);}
        .div_title {line-height: 20px;font-size: 18px;}
        .content1{font-size:13px;position:absolute;bottom:10px;}
        .content1:last-child{right: 5px;bottom: 5px;width: 50px;line-height: 26px;background: #cccccc;color: black;text-align: center;border-radius: 2px;cursor: pointer}
        .content1:last-child:hover{border: 1px solid #A0A0A0}
        .icon-guanbi:hover{cursor: pointer;border: 1px solid #c5c5c5;background: #c5c5c5;color: white}
    </style>
    <link rel="stylesheet" href="//at.alicdn.com/t/font_2311555_jtf2c8qjr3.css">
</head>
<body style="padding: 10px">
    <div class="div_top">
        所有表格（点击修改表单）:
    </div>
    <div>
        {foreach $data as $k => $v}
        <div class="div01" tableid="{$v.id}" title="单机击进入修改">
            <div class="div_title">
                <i class="iconfont icon-yuandianxiao" style="float: left"></i>
                <span style="width: 85%;display: inline-block">{$v.fname}</span>
                <span style="float: right" onclick="event.stopPropagation();"><i class="iconfont icon-guanbi" title="删除"></i></span>
            </div>
            <div class="content1">
                已报名人数：{$v.count}人
            </div>
            <div class="content1 set-btn" status="{$v.status}" expiration="{$v.expiration}" money="{$v.money}">
                设置
            </div>
        </div>
        {/foreach}
    </div>
    <div id="modal" style="display: none;padding: 20px">
        <form class="layui-form">
            <input type="hidden" name="id">
            <div class="layui-form-item">
                <label class="layui-form-label">是否启用</label>
                <div class="layui-inline">
                    <input type="checkbox" name="status" lay-skin="switch" lay-text="启用|关闭" value="1" >
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">过期时间</label>
                <div class="layui-inline">
                    <input type="text" class="layui-input" name="expiration" id="expiration" placeholder=" 年 - 月 - 日  时:分:秒 ">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">收费金额</label>
                <div class="layui-inline">
                    <input type="text" class="layui-input" name="money" >
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">首页显示</label>
                <div class="layui-inline">
                    <input type="checkbox" name="isshow" lay-skin="switch" lay-text="on|off" value="1" >
                </div>
            </div>
        </form>
    </div>
</body>
<script src="/static/jquery.min.js"></script>
<script src="/static/layui/layui.js"></script>
<script>
    layui.use(['layer','form','laydate'],function () {
        let layer = layui.layer;
        let form = layui.form;
        let laydate = layui.laydate;
        laydate.render({
            elem: '#expiration', //指定元素
            type:'datetime'
        });

        $('.set-btn').click(function (event) {
            let status = $(this).attr('status');
            $("[name=status]").prop('checked',status === '1');
            let expiration = $(this).attr('expiration');
            $("[name=expiration]").val(expiration);
            let money = $(this).attr('money');
            $("[name=money]").val(money);
            $("form:eq(0) [name=id]").val($(this).parent().attr('tableid'));
            form.render();

            layer.open({
                title:'设置',
                content:$('#modal'),
                type:1,
                offset:'30px',
                shadeClose:true,
                shade:0.5,
                btn:['保存','取消'],
                yes:function (index, layero) {
                    let formdata = $('#modal form').serializeArray();
                    $.ajax({
                        url:'/admin/settablestatus',
                        type:"post",
                        dataType:'json',
                        data:formdata,
                        success:function(res){
                            console.log(res)
                            layer.msg(res.msg,{
                                time:700,
                                end:function () {
                                    // layer.close(index)
                                    location.reload()
                                }});
                        }
                    });
                    // return false;
                }
            });
            event.stopPropagation(); // 阻止事件冒泡
        })

    });
    $(function () {
        $(".div01").click(function () {
            location.href = '/admin/savetable/' + $(this).attr('tableid');
        });

        $(".div01").each(function () {
            if($(this).index()%4 === 0){
                $(this).css('margin-left','2.4%')
            }else{
                $(this).css('margin-left',0)
            }
        });

        $('.icon-guanbi').click(function () {
            let obj = $(this);
            layer.open({
                title:'删除提示',
                content:'您确定要删除该表单吗？',
                icon:0,
                btn:['确定','取消'],
                yes:function (index , res) {
                    $.post('/admin/delete',{id:obj.parent().parent().parent().attr('tableid')},function (e) {
                        console.log(e)
                        layer.close(index)
                        obj.parent().parent().parent().remove();
                        $(".div01").each(function () {
                            if($(this).index()%4 === 0){
                                $(this).css('margin-left','2.4%')
                            }else{
                                $(this).css('margin-left',0)
                            }
                        });
                    })
                }
            })
        })

    })
</script>
</html>