<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>注册</title>
    <link rel="stylesheet" href="/user/css/form.css">
    <style>
        input::placeholder{
            color: red;
        }
    </style>
</head>
<body>
<div class="max">
    {include file='public/logo'}
    <div class="title"><h3>注册账号</h3></div>
    <div class="form">
        <form >
            <!--<div><span>身份证号码</span><input name="cardid" type="text"></div>-->
            <!--<div><span>用戶名</span><input name="name" type="text"></div>-->
            <div><span>联系电话</span><input name="phone" type="text"></div>
            <!--<div><span>登录密码</span><input name="password" type="text"></div>-->
            <!--<div><span>确认密码</span><input name="password2" type="text"></div>-->
            <!--<div><span>验证码</span><input type="text" style="width: 20%"><img width="100"  src="{:captcha_src()}" alt="captcha" /></div>-->
        </form>
        <div class="chengnuo">
            <span>诚信承诺书：</span>
            <p>本人承诺：所提供的个人信息和报名材料真实、准确、有效，对因提供不实信息、材料或违反有关规定而造成的后果，由本人承担全部责任。培训单位有权取消提供虚假材料学员的考试资格，且培训费用不予退还。</p>
            <div class="checkbox">
                <input type="checkbox" id="tongyi" ><label for="tongyi">我已阅读上述诚信承诺书并充分知晓其含义</label>
            </div>
        </div>
        <div class="registered">
            注册
        </div>
    </div>
</div>
</body>
<script src="/static/jquery.min.js"></script>
<script>

    $(function () {
        $("input").prop('autocomplete','off');
        $("input").focus(function () {
            $(this).prop('placeholder','')
        })
        $(".registered").click(function () {
            if (!$("#tongyi").prop('checked')){
                alert('请确认已读诚信承诺书后点击注册！')
            }else{
                let formdata = $("form").serializeArray();
                //身份证号码验证
                // let reg = /^[1-9]\d{5}(18|19|([23]\d))\d{2}((0[1-9])|(10|11|12))(([0-2][1-9])|10|20|30|31)\d{3}[0-9Xx]$/;
                // if(!reg.test($('[name=cardid]').val())){
                //     $('[name=cardid]').prop('placeholder','身份证号码格式不正确');
                //     $('[name=cardid]').val('');
                //     return false;
                // }
                if(!(/^1[3456789]\d{9}$/.test($("[name=phone]").val()))){
                    $('[name=phone]').prop('placeholder','手机号码有误，请重填');
                    $('[name=phone]').val('');
                    return false;
                }
                $.ajax({
                    url:"/user/registerVerification",
                    type:"post",
                    dataType:"json",
                    data:formdata,
                    success:function(res){
                        console.log(res)
                        if(res.code === 0){
                            alert(res.msg);
                        }
                        if(res.code === 1){
                            alert('注册成功，密码为手机号后四位，点击确认返回登录界面');
                            location.href = res.url
                        }
                    }
                })
            }
        })
    })
</script>
</html>