<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>后台管理</title>
    <link rel="stylesheet" href="/static/layui/css/layui.css">
    <style>
        .iframe_content{
            background: white;
            border-radius: 2px;
            /*box-shadow:  1px -1px 3px #6e778e,-1px 1px 3px #6e778e;*/
        }

        .layui-side-menu .layui-nav .layui-nav-item .layui-nav-child a{
            height: 40px;
            line-height: 40px;
            padding-left: 45px;
            padding-right: 30px;
        }

        .layui-side-menu .layui-nav .layui-nav-item .layui-nav-child .layui-nav-child a{
            padding-left: 60px;
        }

    </style>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo ">后台管理 1.0</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-right ">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="http://t.cn/RCzsdCq " class="layui-nav-img">
                    {$Think.session.user_admin.nick_name}
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">基本资料</a></dd>
                    <dd><a href="">安全设置</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="/admin/drop">退了</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black layui-side-menu">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                <li class="layui-nav-item" id="date">
                    <a class="" href="javascript:;"><i class="layui-icon layui-icon-list">&nbsp;数据</i></a>
                    <dl class="layui-nav-child">
                        {foreach $data as $v}
                        <dd><a href="/admin/getdata/{$v.tb_name}" target="iframe1" title="{$v.fname}">{$v.fname}</a></dd>
                        {/foreach}
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;"><i class="layui-icon layui-icon-user"> &nbsp;用户</i></a>
                    <dl class="layui-nav-child">
                        <dd><a href="/admin/webuser" target="iframe1">网站用户</a></dd>
                        <!--<dd><a href="/admin/admin" target="iframe1">后台管理员</a></dd>-->
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;"><i class="layui-icon layui-icon-set">&nbsp;设置</i></a>
                    <dl class="layui-nav-child">
                        <dd >
                            <a href="javascript:;">公告设置<span class="layui-nav-more"></span></a>
                            <dl class="layui-nav-child">
                                <dd><a href="/admin/announce" target="iframe1">公告列表</a></dd>
                                <dd><a href="/admin/announce_del" target="iframe1">已删公告</a></dd>
                            </dl>
                        </dd>
                        <dd >
                            <a href="javascript:;">表单设置<span class="layui-nav-more"></span></a>
                            <dl class="layui-nav-child">
                                <dd id="alltable"><a href="/admin/alltable" target="iframe1">所有表单</a></dd>
                                <dd><a href="/admin/gocreate" target="iframe1">添加表单</a></dd>
                            </dl>
                        </dd>
                        <dd>
                            <a href="javascript:;">权限设置<span class="layui-nav-more"></span></a>
                            <dl class="layui-nav-child">
                                <dd><a href="/admin/gorbac" target="iframe1">权限组</a></dd>
                                <dd><a href="/admin/goadmin" target="iframe1">人员</a></dd>
                            </dl>
                        </dd>
                        <dd>
                            <a href="javascript:;">个人信息设置<span class="layui-nav-more"></span></a>
                            <dl class="layui-nav-child">
                                <dd><a href="/admin/baseinfo" target="iframe1">基本资料</a></dd>
                                <dd><a href="/admin/password" target="iframe1">密码修改</a></dd>
                            </dl>
                        </dd>
                    </dl>
                </li>

            </ul>
        </div>
    </div>

    <div class="layui-body"  style="background: #F2F2F2">
        <!-- 内容主体区域 -->
        <div style="padding: 15px;">
            <div class="iframe_content">
                <div style="height: calc(81vh)">
                    <iframe id="iframe1" name="iframe1" src="" style="width: 100%;height: 100%" frameborder="0"></iframe>
                </div>
            </div>
        </div>
    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © layui.com
    </div>
</div>
<script src="/static/layui/layui.js"></script>
<script src="/static/jquery.min.js"></script>
<script>
    //JavaScript代码区域
    layui.use('element', function(){
        var element = layui.element;

    });
</script>
</body>
</html>