<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>表格数据</title>
    <style>
        *{margin: 0 auto}
        table{
            padding: 10px;
        }
        td{
            padding: 5px;
            border: #F2F2F2 solid 1px;
            font-size: 13px
        }
        tr:hover{
            background: #d0d0d0;
        }
    </style>
</head>
<body>
<table style="width: 100%;" cellspacing="1" cellpadding="0">

    <tr style="background: #d0d0d0;font-size: 14px">
        {foreach $th as $v}
        <td>{$v['字段说明']}</td>
        {/foreach}
    </tr>
    {if condition = 'count($data) != 0'}
        {foreach $data as $v}
        <tr>
            {foreach $v as $n}
            <td>{$n}</td>
            {/foreach}
        </tr>
        {/foreach}
    {else /}
    <tr>
        <td colspan="10" style="text-align: center;font-size: 13px">没有数据</td>
    </tr>
    {/if}
</table>
</body>
</html>