<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>教育报名系统</title>
    <link rel="stylesheet" href="/static/layui/css/layui.css">
    <link rel="stylesheet" href="/static/user/css/indexTable.css">
</head>
<body>
<div class="max">
    {include file='public/logo'}
    {include file='public/wlcome'}
    <div class="info">
        <div class="infoTitle">
            报名记录
        </div>
        <ul>
            {if count($data) > 0}
            {foreach $data as $v}
            <li class="lione">
                <div style="float: right;display: block;width: 20%;text-align: right">
                    <span>已报人数：{$v.count}</span>
                </div>
                <div style="display: block;width: 100%">
                    <h3 style="color: #70A989">{$v.fname}</h3>
                    <h4>{$v.subtitle}</h4>
                    <label onclick="Unfold($(this));" style="cursor: pointer;user-select: none;">点击查看报名信息</label>
                    <a href="" style="float: right;color: red">前往缴费</a>
                    <div style="display: inline;">
                        <ul style="display: none" class="formdatas">
                            {foreach $v.formdatas as $m=>$n}
                            <li style="border: 0">
                                <label>{$m}:</label><span disabled style="background: white" type="text" value="">{$n}</span>
                            </li>
                            {/foreach}
                        </ul>
                    </div>
                </div>
            </li>
            {/foreach}
            {else /}
            <li class="lione">
                暂无报名信息
            </li>
            {/if}
            <!--<li><div><label for="department">所在部门</label><input type="text" id="department" name="department" value="{}"></div></li>-->
            <!--<li><div><label for="position">个人职务</label><input type="text" id="position" name="position" value="{}"></div></li>-->
        </ul>
    </div>
</div>
{include file='public/webbottom'}
</body>
<script type="text/javascript" src="/static/jquery.min.js"></script>
<script type="text/javascript" src="/static/layui/layui.js"></script>
<script>
    function Unfold(obj){
        let text = obj.text();
        if(text === '点击查看报名信息'){
            obj.next().next().children('.formdatas').show()
            obj.text('点击隐藏报名信息')
        }else if(text === '点击隐藏报名信息'){
            obj.next().next().children('.formdatas').hide()
            obj.text('点击查看报名信息')
        }


    }

    $(function () {
        $("input").prop('autocomplete','off');
        $('.lione:last').css('border-bottom',0)

        $('.info ul li').click(function () {
            $(this).children('div').children('input').focus();
        })

    })
</script>
</html>