<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>教育报名系统</title>
    <link rel="stylesheet" href="/static/layui/css/layui.css">
    <link rel="stylesheet" href="/static/user/css/indexTable.css">
</head>
<style>
    .paybtn {float: right;color: red;}
    .paybtn:hover {cursor: pointer}
</style>
<body>
<div class="max">
    {include file='public/logo'}
    {include file='public/wlcome'}
    <div class="info">
        <div class="infoTitle">
            报名记录
        </div>
        <ul>
            {if count($data) > 0}
            {foreach $data as $v}
            <li class="lione">
                <div style="float: right;display: block;width: 20%;text-align: right">
                    <span>已报人数：{$v.count}</span>
                </div>
                <div style="display: block;width: 100%">
                    <h3 style="color: #70A989">{$v.fname}</h3>
                    <h4>{$v.subtitle}</h4>
                    <label onclick="Unfold($(this));" style="cursor: pointer;user-select: none;">点击查看报名信息</label>
                    <span class="paybtn" orderid="{$v.formdatas['订单id']|default=''}" onclick="pay($(this))">前往缴费</span>
                    <div style="display: inline;">
                        <ul class="formdatas" style="display: none">
                            {foreach $v.formdatas as $m=>$n}
                            <li style="border: 0">
                                <label>{$m}:</label><span disabled style="background: white" type="text" value="">{$n}</span>
                            </li>
                            {/foreach}
                        </ul>
                    </div>
                </div>
            </li>
            {/foreach}
            {else /}
            <li class="lione">
                暂无报名信息
            </li>
            {/if}
            <!--<li><div><label for="department">所在部门</label><input type="text" id="department" name="department" value="{}"></div></li>-->
            <!--<li><div><label for="position">个人职务</label><input type="text" id="position" name="position" value="{}"></div></li>-->
        </ul>
    </div>
</div>
{include file='public/webbottom'}
</body>
<div style="display: none;text-align: center" id="layeropen" >
    <div style="height: 64px;background: #F2F2F2;text-align: left;font-size: 13px;padding: 0 10px;">
        <br/>订单编号：<span></span>
        <br/>应付金额：￥ <span></span>
    </div>
    <img src="" alt="" width="200" height="200" >
    <div>
        <img src="/static/images/payexplain.png" width="200" alt="">
    </div>
</div>
<script type="text/javascript" src="/static/jquery.min.js"></script>
<script type="text/javascript" src="/static/layui/layui.js"></script>
<script>
    function Unfold(obj){
        let text = obj.text();
        if(text === '点击查看报名信息'){
            obj.next().next().children('.formdatas').show()
            obj.text('点击隐藏报名信息')
        }else if(text === '点击隐藏报名信息'){
            obj.next().next().children('.formdatas').hide()
            obj.text('点击查看报名信息')
        }
    }

    layui.use('layer',function () {
        let layer = layui.layer;

    })

    function pay(obj){
        console.log()
        let orderid = '';
        $.post('/pay/getorder',{id:obj.attr('orderid')},function (e) {
            // console.log(e);
            // return false;
            $('#layeropen div:first span:first').text(e.order.order_id);
            $('#layeropen div:first span:last').text(e.order.money);
            $.post('/pay',{body:e.order.fname,out_trade_no:e.order.order_id,total_fee:e.order.money*100},function (res) {
                console.log(res)
                $('#layeropen img:eq(0)').prop('src','/createqrcode?qr_url='+res.code_url);
                layer.open({
                    title:'收银台',
                    type:1,
                    area:['400px','400px'],
                    content:$('#layeropen')
                });
            })
        })

    }

    function notify()
    {
        $.post('/pay/notify',{},function (res) {
            console.log(res)
        })
    }
     notify();

    $(function () {
        $("input").prop('autocomplete','off');
        $('.lione:last').css('border-bottom',0)

        $('.info ul li').click(function () {
            $(this).children('div').children('input').focus();
        })

    })
</script>
</html>