<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>首页</title>
    <link href="http://resource.neea.edu.cn/project/CET/Content/ufo3.css?v=5.0" rel="stylesheet" type="text/css"/>
    <link href="http://resource.neea.edu.cn/project/CET/Content/lanrenzhijia.css" type="text/css" rel="stylesheet"/>
    <style type="text/css">
        body {
            margin: 0;
            padding: 0;
        }

        body {
            /*background: blue;*/
            background-size: 100% 375px;

            background: url("/static/images/index/bg.jpg") repeat-x;
        }

        #topdiv {
            padding: 0;
            margin: 0;
            font-size: 12px;
            font-family: "微软雅黑", "宋体";
            color: #1f1e23;
            background: url("/static/images/index/top_bg.jpg") repeat-x;
            /*background: #0d8ddb;*/
        }

        #footer {
            width: 980px;
            margin: 0 auto;
            text-align: center;
            border-top: 1px solid #666;
        }

        #footer p {
            font-size: 12px;
            color: #666;
            font-family: Arial, "微软雅黑";
            display: block;
            margin-top: 5px;
        }

    </style>
</head>
<body>
<div id="topdiv">
    <div id="top">
        <div id="logo">
            <div  class="">
                <ul id="logo_nav" style="width:300px;">
                    <li style="font-size:16px;width:auto;display:block;float:right;color:#666;"><span
                            style="font-size:16px;display:inline-block;">客服电话：</span><span
                            style="font-size:24px;font-weight:600;display:inline-block">010-62987880</span></li>
                </ul>
            </div>
            <div style="clear:both;height:1em;"></div>

        </div>
        <div id="nav">
            <div  style="width:980px; text-align:center;">
                <ul class="">
                    <li style="padding-right:0px;"><a href="../Home/Index" target="_parent"
                                                      style="padding-top:3px;"><img
                            src="http://resource.neea.edu.cn/project/CET/images/home.png" width="16" height="14"
                            alt=""/></a></li>
                    <li style="padding:5px 0 0 0;"><a href="../Home/Index" target="_parent">首页</a> |</li>
                    <li style="padding:5px 0 0 65px;"><a href="../Home/ExamIntroduction" target="_parent">考试简介</a> |
                    </li>
                    <li style="padding:5px 0 0 65px;"><a href="../Home/CandidateNotice" target="_parent">考生须知</a> |</li>
                    <li style="padding:5px 0 0 65px;"><a href="../Home/TestDatePlan" target="_parent">考试时间</a> |</li>
                    <li style="padding:5px 0 0 65px;"><a href="../Home/RegisterFlow" target="_parent">报名流程</a> |</li>
                    <li style="padding:5px 0 0 65px;"><a href="../Home/CommonProblem" target="_parent">常见问题</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>


<div id="lanrenzhijia">
    <ul id="slides">
        <li style="background:url('http://resource.neea.edu.cn/project/CET/images/lanrenzhijia01.png') no-repeat center top"><a href="#"></a></li>

    </ul>
</div>
<div id="banner">
    <div id="banner_l" class="f_l" style="width:100%;margin-top:5px;margin-left:15px;">
        <img src="/static/images/index/bz1.png"/>
    </div>
</div>
<div style="height:0px; clear:both"></div>
<div id="main">
    <div id="main_l">


        <a href="https://passport.neea.edu.cn/CETLogin?ReturnUrl=http://cet-bm.neea.edu.cn/Home/VerifyPassport/?LoginType=0"
           class="c_hei cet_banner01">
            <p class="f20">进入报名</p>
            <p class=" ">ENTRY</p>
        </a>

        <a href="https://passport.neea.edu.cn/Register" class="c_hei cet_banner02">
            <p class="f20">注册 / 修改用户</p>
            <p class=" ">REGISTER / MODIFY USER</p>
        </a>

        <!--<a href="../Home/RetrieveAccount" class="c_hei cet_banner05">-->
            <!--<p class="f20">找回已报名账号</p>-->
            <!--<p class=" ">RETRIEVE ACCOUNT</p>-->
        <!--</a>-->
        <!--<a href="http://bbcjzm.neea.edu.cn/" class="c_hei cet_banner03" target="_blank">-->
            <!--<p class="f20">补办成绩证明</p>-->
            <!--<p class=" ">TRANSCRIPT COPY RE-ORDER</p>-->
        <!--</a>-->


        <!--<a href="../Home/QuickPrintTestTicket" class="c_hei cet_banner06">-->
            <!--<p class="f20">快速打印准考证</p>-->
            <!--<p class=" ">PRINT TICKET</p>-->
        <!--</a>-->
        <!--<a href="../Home/QueryTestTicket" class="c_hei cet_banner05">-->
            <!--<p class="f20">查询准考证</p>-->
            <!--<p class=" ">QUERY TESTTICKET</p>-->
        </a>

    </div>
    <div id="main_c">
        <div class="title_b"><a href="http://cet.neea.edu.cn/"><img
                src="http://resource.neea.edu.cn/project/CET/images/lun_d.png" width="300" height="395" alt=""/></a>
        </div><!--270-->
    </div>
    <div id="main_r">
        <div class="title_b">
            <a href="#"><img src="/static/images/index/news.jpg" width="380" height="40" alt=""/></a>
            <!--<div style="padding:10px;line-height:2.0em;" class="main_info_l">-->
                <!--<h4>2020年下半年考试时间：</h4>-->
                <!--<ul>-->
                    <!--<li>笔试：12-12</li>-->
                    <!--<li><span>上午：英语四级</span><span style="padding-left:5em;">下午：英语六级</span></li>-->

                    <!--<li>口语：</li>-->
                    <!--<li><span>11-21：英语四级</span><span style="padding-left:4em;">11-22：英语六级</span></li>-->
                <!--</ul>-->
            <!--</div>-->
            <ul>
                {for name='v' start='0' end='$data|count' }
                <li>{$data[$v]['fname']}</li>
                {/for}
            </ul>
            <!--<hr class="hr_line"/>-->
            <!--<div style="padding:10px;line-height:2.5em;" class="main_info_l">-->
                <!--<h4>2020年下半年考试准考证打印提示：</h4>-->
                <!--<ul>-->
                    <!--<li style="font-weight:bold;">1：请考生按学校规定时间领取或自行下载打印准考证。采用自行下载打印准考证方式的考生请务必在考前两天前完成。</li>-->
                    <!--<li style="font-weight:bold;">2：自行下载打印准考证的考生可点击本页面“快速打印准考证”功能或再次登录报名系统进行下载和打印。</li>-->

                <!--</ul>-->
            <!--</div>-->
        </div>
    </div>
</div>
<div style="clear:both;"></div>
<div style="width:100% ;margin:2em 0;">
    <div id="footer">
        <div >

        </div>
    </div>
</div>
</body>
</html>
