<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>教育报名系统</title>
    <link rel="stylesheet" href="/static/layui/css/layui.css">
    <link rel="stylesheet" href="/static/user/css/indexTable.css">
</head>
<body>
<div class="max">
    <div class="logo"></div>
    <div class="wlcome">
        <span class="wlcomeleft"><i class="layui-icon">&#xe66f; </i>欢迎您：胡涛</span>
        <span class="wlcomeright"><a href="/user/drop"><i class="layui-icon" >&#xe682; </i>退出</a></span>
    </div>
    <div class="info">
        <div class="infoTitle">
            工作单位信息设置
        </div>
        <ul>
            <li><div><label for="name">工作单位名称</label><input type="text" id="name" name="name" value="{$data.name}"></div></li>
            <li><div><label for="department">所在部门</label><input type="text" id="department" name="department" value="{$data.department}"></div></li>
            <li><div><label for="position">个人职务</label><input type="text" id="position" name="position" value="{$data.position}"></div></li>
        </ul>
    </div>
</div>
<div class="webbottom">
    <ul>
        <li><div><a href="/user/index"><i class="layui-icon-user layui-icon" style="font-size: 30px"></i></a></div>个人信息</li>
        <li><div><a href="/user/signup"><i class="layui-icon-edit layui-icon" style="font-size: 30px"></i></a></div>课程报名</li>
        <li><div><a href="/user/gorecording"><i class="layui-icon-log layui-icon" style="font-size: 30px"></i></a></div>报名记录</li>
    </ul>
</div>
</body>
<script type="text/javascript" src="/static/jquery.min.js"></script>
<script type="text/javascript" src="/static/layui/layui.js"></script>
<script>
    $(function () {
        $('.info ul li:last').css('border',0);
        $("input").prop('autocomplete','off');
        $('.info ul li').click(function () {
            $(this).children('div').children('input').focus();
        })

        $("input[type=text]").change(function () {
            let name = $(this).prop("name");
            let text = $(this).val();
            let formdata = {};
            formdata[name] = text;
            if(text){
                console.log(text)
                $.ajax({
                    url:"/user/setemployerinfo",
                    type:"post",
                    dataType:"json",
                    data:formdata,
                    success:function(res){
                        console.log(res)
                    }
                })
            }
        })
    })
</script>
</html>