<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>教育报名系统</title>
    <link rel="stylesheet" href="/static/layui/css/layui.css">
    <link rel="stylesheet" href="/static/user/css/indexTable.css">
    <link rel="stylesheet" href="/my-control/css/FMulSelectUI.min.css">
    <style>

        .info ul li input[type=button]{padding: 5px 15px}
    </style>
</head>
<body>
<div class="max">
    {include file='public/logo'}
    {include file='public/wlcome'}
    <div class="info">
        <div class="infoTitle">
            {$form.fname}
        </div>
        <ul>
            <form>
                <input type="hidden" name="tb_name" value="{$form.tb_name}">
                {foreach $form.content as $k => $v}
                <li>
                    <div>
                        <label for="fie_{$k}">{$v.comment}</label>
                        {if $v.type == 'text'}
                        <input type="text" id="fie_{$k}" name="fie_{$k}" value="">
                        {/if}
                        {if $v.type == 'select'}
                        <select name="fie_{$k}" id="fie_{$k}">
                            {foreach $v.option as $m => $n}
                            <option value="{$n}">{$n}</option>
                            {/foreach}
                        </select>
                        {/if}
                        {if $v.type == 'checkbox'}
                        <div style="margin-top: 3px;display: block">
                            {foreach $v.label as $m => $n}
                            <input type="checkbox" name="fie_{$k}" id="checkbox_{$m}" value="{$n.label_chid_text}"><label for="checkbox_{$m}">{$n.label_chid_text}</label>
                            {/foreach}
                        </div>
                        {/if}
                        {if $v.type == 'radio'}
                        <div style="margin-top: 3px;display: block">
                            {foreach $v.label as $m => $n}
                            <input type="radio" name="fie_{$k}" value="{$n.label_chid_text}" id="radio_{$m}"><label for="radio_{$m}">{$n.label_chid_text}</label>
                            {/foreach}
                        </div>
                        {/if}
                        {if $v.type == 'textarea'}
                        <div style="margin-top: 3px;display: block;width: 100%">
                            <textarea name="fie_{$k}" id="fie_{$k}" rows="3"></textarea>
                        </div>
                        {/if}
                        {if $v.type == ''}
                        <div>
                            <div id="mulselectbox1"></div>
                        </div>
                        {/if}
                    </div>
                </li>
                {/foreach}
                <li><div><input type="button" id="submit" value="确认信息并报名"></div></li>
            </form>
        </ul>
    </div>
</div>

{include file='public/webbottom'}
</body>
<!--<div style="display: none;text-align: center" id="layeropen" >-->
    <!--<div style="height: 64px;background: #F2F2F2;text-align: left;font-size: 13px;padding: 0 10px;">-->
        <!--<br/>订单编号：<span></span>-->
        <!--<br/>应付金额：￥ <span></span>-->
    <!--</div>-->
    <!--<img src="" alt="" width="200" height="200" >-->
    <!--<div>-->
        <!--<img src="/static/images/payexplain.png" width="200" alt="">-->
    <!--</div>-->
<!--</div>-->
<script type="text/javascript" src="/static/jquery.min.js"></script>
<script type="text/javascript" src="/my-control/javascript/FMulSelectUI.min.js"></script>
<script type="text/javascript" src="/static/layui/layui.js"></script>
<script>
    layui.use('layer',function () {
        let layer = layui.layer;
    });

    let datas = [
        {
            name1: "河北省",
            id: 2,
            child: [
                {
                    name1: "石家庄市",
                    id: 21,
                    child: [
                        {
                            name1: "长安区",
                            id: 211
                        },
                        {
                            name1: "裕华区",
                            id: 212
                        },
                        {
                            name1: "新华区",
                            id: 213
                        }
                    ]
                },
                {
                    name1: "沧州市",
                    id: 22,
                    child: [
                        {
                            name1: "新华区",
                            id: 221
                        },
                        {
                            name1: "运河区",
                            id: 222
                        }
                    ]
                },
                {
                    name1: "秦皇岛市",
                    id: 23,
                    child: [
                        {
                            name1: "山海关区",
                            id: 231
                        },
                        {
                            name1: "北戴河区",
                            id: 232
                        }
                    ]
                }
            ]
        },{
            name1: "河北省",
            id: 2,
            child: [
                {
                    name1: "石家庄市",
                    id: 21,
                    child: [
                        {
                            name1: "长安区",
                            id: 211
                        },
                        {
                            name1: "裕华区",
                            id: 212
                        },
                        {
                            name1: "新华区",
                            id: 213
                        }
                    ]
                },
                {
                    name1: "沧州市",
                    id: 22,
                    child: [
                        {
                            name1: "新华区",
                            id: 221
                        },
                        {
                            name1: "运河区",
                            id: 222
                        }
                    ]
                },
                {
                    name1: "秦皇岛市",
                    id: 23,
                    child: [
                        {
                            name1: "山海关区",
                            id: 231
                        },
                        {
                            name1: "北戴河区",
                            id: 232
                        }
                    ]
                }
            ]
        },{
            name1: "河北省",
            id: 2,
            child: [
                {
                    name1: "石家庄市",
                    id: 21,
                    child: [
                        {
                            name1: "长安区",
                            id: 211
                        },
                        {
                            name1: "裕华区",
                            id: 212
                        },
                        {
                            name1: "新华区",
                            id: 213
                        }
                    ]
                },
                {
                    name1: "沧州市",
                    id: 22,
                    child: [
                        {
                            name1: "新华区",
                            id: 221
                        },
                        {
                            name1: "运河区",
                            id: 222
                        }
                    ]
                },
                {
                    name1: "秦皇岛市",
                    id: 23,
                    child: [
                        {
                            name1: "山海关区",
                            id: 231
                        },
                        {
                            name1: "北戴河区",
                            id: 232
                        }
                    ]
                }
            ]
        }
    ];

    $('#mulselectbox1').FMulSelect({
        // width: 500,  // 宽度，默认自动
        height: 32,  // 高度，默认30px
        levels: 3,   // 联动级别数量，默认 3级 ,可配置范围 1-n，理论上没有上限
        data: datas, // 数据源，json格式
        levelNames: ['省', '市', '区'],//每个级别的名称，如省市区
        dataKeyNames: {  //配置数据源的key值 默认为 id  name  child
            "id": "id",
            "name": "name1",
            "childs": "child"
        }
    });
    $(function () {
        $('.info ul li:last').css('border',0);
        $("input").prop('autocomplete','off');
        $("li").click(function () {
            $(this).children('div').children('input:text').focus();
        });

        $("#submit").click(function () {
            let obj = $(this);
            let data = $("form").serializeArray();
            for(let i=0 ; i<data.length ; i++ ){
                if(i > 1 && data[i].name === data[i-1].name ){
                    data[i].value += "," + data[i-1].value;
                }
                data[i].value = data[i].value.replace(/\s+/g, "");
            }
            $.ajax({
                url:"/user/insert",
                type:"post",
                dataType:"json",
                data:data,
                success:function(e){
                    if(e.code === 1){
                        location.href = "/pay/index?id=" + e.order;
                    }else if(e.code === 0){
                        layer.open({
                            type:0,
                            title: '提示信息',
                            btn: ['确认'],
                            content: e.error,
                            end: function () {
                                if(e.error === '已报名该课程，前往查看报名记录') {
                                    location.href = '/user/gorecording';
                                }
                            }
                        });
                    }
                }
            })
        });
    });
</script>
</html>
