<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>教育报名系统</title>
    <link rel="stylesheet" href="/static/layui/css/layui.css">
    <link rel="stylesheet" href="/static/user/css/index.css">
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_2311555_zva3xoymw78.css">
    <style>
        /*.info ul li:hover{*/
            /*cursor: pointer;*/
        /*}*/
        .paybtn:hover{cursor: pointer}
    </style>
</head>
<body>
<div class="max">
    {include file='public/logo'}
    {include file='public/wlcome'}
    <div class="info">
        <div class="infoTitle">
            缴费记录列表
        </div>
        <ul>
            {foreach $tables as $k => $v}
            <li class="lione">
                <div>
                    {$k+1}.{$v.fname}
                    <div style="">
                        {if !empty($v.user)}
                        {foreach $v.user as $m}
                        <div style="padding: 10px 10px;width: auto">
                            <span>{$m.name}</span>
                            {if $m.order_status=='已缴费'}
                            <span style="float: right;color: #87B6A2;">{$m.order_status}</span>
                            {else /}
                            <span class="paybtn" orderid="{$m.order_id}" style="float: right;color: #87B6A2;">{$m.order_status}</span>
                            {/if}
                        </div>
                        {/foreach}
                        {/if}
                    </div>
                </div>
            </li>
            {/foreach}
        </ul>
    </div>
</div>
{include file="public/webbottom"}
</body>
<script type="text/javascript" src="/static/jquery.min.js"></script>
<script type="text/javascript" src="/static/layui/layui.js"></script>
<script>
    layui.use('layer',function () {
        var layer = layui.layer;
    })

    $(function () {
        $('.info ul li').css({'display':'flex','align-items': 'center'});
        $('.info ul li').hover(function () {
            $(this).children('div').children('h3').css({'color':'#6AA684'});
        },function () {
            $(this).children('div').children('h3').css({'color':'black'});
        });
        $(".lione:last").css('border-bottom','0');

        $(".paybtn").click(function (event) {
            //这里处理，微信浏览器提示信息内容
            let orderid = '';
            let obj = $(this);
            if($(this).text() === "已缴费"){
                layer.open({
                    title: '提示信息',
                    type: 0,
                    icon: 0,
                    content: '已缴费'
                });
            }else{
                location.href =  "/pay/index?id=" + obj.attr('orderid');
            }
            event.stopPropagation();
        });
    })
</script>
</html>