<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>教育报名系统</title>
    <link rel="stylesheet" href="/static/layui/css/layui.css">
    <link rel="stylesheet" href="/static/user/css/index.css">
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_2311555_zva3xoymw78.css">
    <style>
        .info ul li:hover{
            cursor: pointer;
        }
    </style>
</head>
<body>
<div class="max">
    {include file='public/logo'}
    {include file='public/wlcome'}
    <div class="info">
        <div class="infoTitle">
            已缴费列表
        </div>
        <ul>
            <li class="lione">
                <div>
                    <h3><span>已缴费</span><span></span><span><h4>></h4></span></h3>
                </div>
            </li>
        </ul>
    </div>
</div>
{include file="public/webbottom"}
</body>
<script type="text/javascript" src="/static/jquery.min.js"></script>
<script type="text/javascript" src="/static/layui/layui.js"></script>
<script>
    $(function () {
        $('.info ul li').css({'display':'flex','align-items': 'center'});
        $('.info ul li').hover(function () {
            $(this).children('div').children('h3').css({'color':'#6AA684'});
        },function () {
            $(this).children('div').children('h3').css({'color':'black'});
        })
        $(".lione:last").css('border-bottom','0');
    })
</script>
</html>