<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>公告内容</title>
    <link rel="stylesheet" href="/static/layui/css/layui.css">
</head>
<body>
<h2>公告内容</h2>
<form class="layui-form" id="form01" enctype="multipart/form-data" method="post">
    <!-- 提示：如果你不想用form，你可以换成div等任何一个普通元素 -->
    <input type="hidden" name="id" placeholder="请输入" autocomplete="off" class="layui-input"
           value="{$data.id|default=''}">
    <div class="layui-form-item">
        <label class="layui-form-label">标题</label>
        <div class="layui-input-block">
            <input type="text" name="title" placeholder="请输入" autocomplete="off" class="layui-input"
                   value="{$data.title|default=''}">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">副标题</label>
        <div class="layui-input-block">
            <input type="text" name="subtitle" placeholder="请输入" autocomplete="off" class="layui-input"
                   value="{$data.subtitle|default=''}">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">是否启用</label>
        <div class="layui-input-block">
            {if empty($data.is_static)}
            <input name="static" type="checkbox" lay-skin="switch" lay-filter='checkbox'>
            {else}
            <input name="static" type="checkbox" checked lay-skin="switch" lay-filter='checkbox'>
            {/if}
        </div>
    </div>

    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">公告内容</label>
        <div class="layui-input-block">
            <div id="contents" name="contents"></div>
            <div style="display: none" id="hiddenedit">
                {notempty name='data'}
                {$data.contents|raw|default=''}
                {/notempty}
            </div>
        </div>

    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <input type="button" class="layui-btn" id="submit" value="立即提交">
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
<script src="/static/jquery.min.js"></script>
<script src='/static/layui/layui.js'></script>
<script src="https://cdn.jsdelivr.net/npm/wangeditor@latest/dist/wangEditor.min.js"></script>
<script type="text/javascript">
    const E = window.wangEditor;
    const editor = new E('#contents');
    editor.config.uploadImgServer = '/layuiedit/uploadimg';
    editor.config.uploadFileName = 'file_edit';
    editor.config.uploadImgHooks = {
        // 图片上传并返回了结果，想要自己把图片插入到编辑器中
        customInsert: function (insertImgFn, result) {
            // insertImgFn 可把图片插入到编辑器，传入图片 src ，执行函数即可
            insertImgFn(result.data['url'])
        }
    }
    editor.create();
    editor.txt.html($("#hiddenedit").html());

    layui.use(['form'], function () {
        var form = layui.form;
        form.on('switch(checkbox)', function (data) {
            console.log(data.elem.checked); //开关是否开启，true或者false
            console.log(data.value); //开关value值，也可以通过data.elem.value得到
        });
    });

    $(function () {
        $('#submit').click(function () {
            let text = editor.txt.html();
            let formdata = $('#form01').serializeArray();
            formdata.push({"name": "contents", "value": text});
            console.log(formdata);
            $.ajax({
                url: "/admin/anon_addanon",
                type: "post",
                data: formdata,
                dataType: "json",
                success: function (res) {
                    console.log(res)
                }
            });
        });
    })


</script>
</body>
</html>