<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>后台管理系统</title>
    <link rel="stylesheet" href="/static/layui/css/layui.css">
    <style>
        *{margin: 0 auto}
        table{
            padding: 10px;
        }
        td{
            padding: 5px;
            border: #F2F2F2 solid 1px;
            font-size: 13px
        }
        /*.top{*/
            /*padding: 15px;*/
            /*margin-bottom: 15px;*/
            /*border-bottom: 1px solid #F2F2F2;*/
        /*}*/
    </style>
</head>
<body>
<!--<div class="top" style="text-align: right">-->
    <!--<input type="button" value="修改审核状态"  class="layui-btn layui-btn-normal">-->
    <!--&lt;!&ndash;<input type="radio">未审核&ndash;&gt;-->
<!--</div>-->
<table style="width: 100%;" cellspacing="1" cellpadding="0">
    <tr style="background: #d0d0d0;font-size: 14px">
        <td><input type="checkbox" id="checkbox" ></td>
        <td>序号</td>
        <td>身份证号码</td>
        <td>密码</td>
        <td>姓名</td>
        <td>联系电话</td>
        <td>操作</td>
    </tr>
    {if condition = 'count($data) != 0'}
        {foreach $data as $k => $v}
        <tr>
            <td><input type="checkbox" name="checkbox" ></td>
            {foreach $v as $m => $n}
            {if $m == 'auditstates'}
            <td><input type="button" class="layui-btn {$n === '未审核' ? 'layui-btn-primary' : '' } layui-btn-xs" value="{$n}"></td>
            {else /}
            <td>{$n}</td>
            {/if}
            {/foreach}
            <td>
                <i class="layui-icon"><input type="button" class="layui-btn layui-btn-danger layui-btn-xs" value="&#xe640;删除"></i>
            </td>
        </tr>
        {/foreach}
    {else /}
    <tr>
        <td colspan="10" style="text-align: center;font-size: 13px">没有数据</td>
    </tr>
    {/if}
</table>
</body>
<script type="text/javascript" src="/static/jquery.min.js"></script>
<script type="text/javascript" src="/static/layui/layui.js"></script>
<script>
    layui.use('layer',function () {
        let layer = layui.layer;
    });

    $(function(){
        let auditstates = '';
        let id = '';
        let tbname = "user";
        $("#checkbox").parent().nextAll().each(function () {
            if($(this).text() === '审核状态'){
                auditstates = $(this).index();
            }
            if($(this).text() === 'id'){
                id = $(this).index();
            }
        });

        $('.layui-btn-normal').click(function () {
            let formdata = [];
            $("[name=checkbox]:checked").each(function () {
                let temp = {};
                temp['id'] = $(this).parent().parent().children('td').eq(id).text();
                if($(this).parent().parent().children('td').eq(auditstates).children('input:button').val() === '未审核'){
                    temp['auditstates'] = '已审核';
                }else if($(this).parent().parent().children('td').eq(auditstates).children('input:button').val() === '已审核'){
                    temp['auditstates'] = '未审核';
                }
                formdata.push(temp);
            });

            if(formdata.length === 0){
                layer.open({title:"提示消息",content:"修改失败，请勾选后重试！",icon:2})
                return false;
            }

            $.ajax({
                url:"/admin/auditstates",
                type:"post",
                dataType:"json",
                data:{tbname:tbname,data:formdata},
                success:function(res){
                    $("[name=checkbox]:checked").each(function () {
                        let temp = {};
                        temp['id'] = $(this).parent().parent().children('td').eq(id).text();
                        if($(this).parent().parent().children('td').eq(auditstates).children('input:button').val() === '未审核'){
                            temp['auditstates'] = '已审核';
                            $(this).parent().parent().children('td').eq(auditstates).children('input:button').removeClass('layui-btn-primary');
                        }else if($(this).parent().parent().children('td').eq(auditstates).children('input:button').val() === '已审核'){
                            temp['auditstates'] = '未审核';
                            $(this).parent().parent().children('td').eq(auditstates).children('input:button').addClass('layui-btn-primary');
                        }
                        $(this).parent().parent().children('td').eq(auditstates).children('input:button').val(temp['auditstates'])
                    });
                }
            })
        });

        $("#checkbox").click(function () {
            $("[name=checkbox]").prop('checked',$(this).prop('checked'));
        });
        
        $('.layui-btn-danger').click(function () {
            layer.open({
                content:"确定删除吗",
                title:'删除提示',
                icon:3,
                btn:['我确定'],
                yes:function (index,layero) {
                    layer.close(index)
                }
            })
        })
    })
</script>
</html>