<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>后台管理系统</title>
    <link rel="stylesheet" href="/static/layui/css/layui.css">
    <style>
        *{margin: 0 auto}
        table{
            padding: 10px;
        }
        td{
            padding: 5px;
            border: #F2F2F2 solid 1px;
            font-size: 13px
        }
        .top{
            padding: 15px;
            margin-bottom: 15px;
            border-bottom: 1px solid #F2F2F2;
        }
    </style>
</head>
<body>
<div class="top">
    <form class="layui-form" >
        <div style="display: inline-block">
            <label class="layui-form-label">查询条件：</label>
            <div class="layui-inline">
                <select id="fie" name="fie" lay-verify="fie">

                </select>
            </div>
        </div>
        <div style="display: inline-block">
            <label class="layui-form-label">条件：</label>
            <div class="layui-inline">
                <input type="text" id="condition" name="condition" class="layui-input">
            </div>
        </div>
        <input type="button" value="查询" id="submit" class="layui-btn layui-btn-normal">
    </form>
</div>
<table style="width: 100%;" cellspacing="1" cellpadding="0">
    <tr style="background: #d0d0d0;font-size: 14px">
        <td><input type="checkbox" id="checkbox" ></td>
        <td>序号</td>
        <td fie='cardid'>身份证号码</td>
        <td fie='user.name'>姓名</td>
        <td fie="user.phone">联系电话</td>
        <td fie="unit.name">所属公司</td>
        <td fie="caretetime">注册时间</td>
        <td>操作</td>
    </tr>
    {if condition = 'count($data) != 0'}
        {foreach $data as $k => $v}
        <tr>
            <td><input type="checkbox" name="checkbox" ></td>
            {foreach $v as $m => $n}
            {if $m == 'auditstates'}
            <td><input type="button" class="layui-btn {$n === '未审核' ? 'layui-btn-primary' : '' } layui-btn-xs" value="{$n}"></td>
            {else /}
            <td>{$n}</td>
            {/if}
            {/foreach}
            <td>
                <i class="layui-icon"><input type="button" class="layui-btn layui-btn-danger layui-btn-xs" value="&#xe640;删除"></i>
            </td>
        </tr>
        {/foreach}
    {else /}
    <tr>
        <td colspan="8" style="text-align: center;font-size: 13px">没有数据</td>
    </tr>
    {/if}
</table>
</body>
<script type="text/javascript" src="/static/jquery.min.js"></script>
<script type="text/javascript" src="/static/layui/layui.js"></script>
<script>
    layui.use(['layer','form'],function () {
        let layer = layui.layer;
        let form = layui.form;

        $('table tr:eq(0) td').each(function () {
            let str = $(this).text();
            if( str !== '序号' && str !== '密码' && str !== '注册时间' && str !== '操作'){
                let optionStr = '<option value="' + $(this).attr("fie") + '">' + str + '</option>'
                $('#fie').append(optionStr)
            }
            form.render('select');
        });

        $('.layui-btn-normal').click(function () {
            let formdata = $('form').serializeArray();
            let fie = $('#fie').val();
            let condition = $('#condition').val();
            location.href='/admin/webuser/'+fie+'/'+condition
        })
    });

    $(function () {

    })

</script>
</html>