<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>后台管理系统</title>
    <link rel="stylesheet" href="/static/layui/css/layui.css">
    <style>
        *{margin: 0 auto}
        table{
            padding: 10px;
        }
        td{
            padding: 5px;
            border: #F2F2F2 solid 1px;
            font-size: 13px
        }
        .top{
            padding: 15px;
            margin-bottom: 0px;
          //  border-bottom: 1px solid #F2F2F2;
        }
    </style>
</head>
<body>
<div class="top">
    <form class="layui-form" >
        <div style="display: inline-block">
            <label class="layui-form-label">查询条件：</label>
            <div class="layui-inline">
                <select id="fie" name="fie" lay-verify="fie">

                </select>
            </div>
        </div>
        <div style="display: inline-block">
            <label class="layui-form-label">条件：</label>
            <div class="layui-inline">
                <input type="text" id="condition" name="condition" class="layui-input" value="{$condition|default=''}">
            </div>
        </div>
        <input type="button" value="查询" id="submit" class="layui-btn layui-btn-normal">
        <input type="button" value="导出Excel" onclick="let header = [];$('table tr:eq(0) td:gt(0):not(:last)').each(function() { header.push($(this).text())});location.href='/excel/export?data={$jsonData}&header='+header;" style="float: right" class="layui-btn layui-btn-normal">
    </form>
</div>
<table style="width: 100%;" cellspacing="1" cellpadding="0" class="layui-table">
    <tr style="background: #f4f4f4;font-size: 14px">
        <td><input type="checkbox" id="checkbox" ></td>
        <td>序号</td>
        <td fie='cardid'>身份证号码</td>
        <td fie='user.name'>姓名</td>
        <td fie="user.phone">联系电话</td>
        <td fie="unit.name">所属公司</td>
        <td fie="balance">用户余额</td>
        <td fie="caretetime">注册时间</td>
        <td>操作</td>
    </tr>
    {if condition = 'count($data) != 0'}
        {foreach $data as $k => $v}
        <tr>
            <td><input type="checkbox" name="checkbox" ></td>
            {foreach $v as $m => $n}
            {if $m == 'auditstates'}
            <td><input type="button" class="layui-btn {$n === '未审核' ? 'layui-btn-primary' : '' } layui-btn-xs" value="{$n}"></td>
            {else /}
            <td>{$n}</td>
            {/if}
            {/foreach}
            <td>
                <i class="layui-icon"><input type="button" class="layui-btn layui-btn-danger layui-btn-xs" fie_id="{$v.id}" value="&#xe640;删除"></i>
            </td>
        </tr>
        {/foreach}
    {else /}
    <tr>
        <td colspan="8" style="text-align: center;font-size: 13px">没有数据</td>
    </tr>
    {/if}
</table>
</body>
<script type="text/javascript" src="/static/jquery.min.js"></script>
<script type="text/javascript" src="/static/layui/layui.js"></script>
<script>
    layui.use(['layer','form'],function () {
        let layer = layui.layer;
        let form = layui.form;

        $('table tr:eq(0) td').each(function () {
            let str = $(this).text();
            if( str !== '序号' && str !== '密码' && str !== '注册时间' && str !== '操作' ){
                let fie = $(this).attr("fie");
                let selected = fie === '{$fie}' ? 'selected' : '';
                let optionStr = '<option value="' + fie + '" '+ selected +' >' + str + '</option>'
                $('#fie').append(optionStr)
            }
            form.render('select');
        });

        $('.layui-btn-normal:eq(0)').click(function () {
            let fie = $('#fie').val();
            let condition = $('#condition').val();
            location.href='/admin/webuser/?fie='+fie+'&condition='+condition
        })
    });

    $(function () {
        $(".layui-btn-danger").click(function () {
            layer.open({
                content:"您确定要删除这个用户吗",icon:0,
                yes:function (index,layero) {
                    let obj = $(this);
                    let userid = obj.attr("fie_id");
                    let formdata = {userid:userid};
                    $.ajax({
                        url:"/admin/deletewebuser",
                        type:"post",
                        dataType:"json",
                        data:formdata,
                        success:function (res) {
                            console.log(res)
                            if(res.code === 200){
                                layer.open({
                                    content:res.msg,icon:1,
                                    end:function(){
                                        obj.parent().parent().parent().remove();
                                    }
                                })
                            }else if(res.code === 201){
                                layer.open({
                                    content:res.error,icon:2
                                })
                            }
                        }
                    });
                    // layer.close(index)
                }
            });
        })
    })

</script>
</html>