<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>我的后台</title>
    <link href="/static/css/head.css" rel="stylesheet" type="text/css"/>
    <link href="/static/css/user.css" rel="stylesheet" type="text/css"/>
    <style type="text/css">
        .input {
            width: 395px;
            padding: 5px;
            border: 1px solid #cccccc;
        }
    </style>

    <script type="text/javascript" src="/static/jquery.min.js"></script>
</head>
<body>
<header>
    <div style="width: auto; height: 400px; background: url('/static/images/ver2/bg.png') no-repeat #ecf2f7; background-size: 100% 395px; padding-top:60px;">
        <div style="width:1200px; height:88px; margin:0px auto;">
            <!--<div style="width:861px; height:88px; display:inline-block; background: url(../images/ver2/logo.png) no-repeat"></div>-->
            <div class="top_login" style="margin-top:60px;"><a href="/user/user" target="_top">【510502199806266811 的后台】</a><a
                    href="../exit" target="_top" style='color:#ff0000;'>【退出】</a></div>
        </div>
        <div style="width:100%;background: #328ad1">
            <div style="width:1200px; height:60px; margin:0px auto;margin-top:55px; text-align:left;">
                <ul>
                    <li id="a1" class="top_li_selected"><a href="/user" class="top_a">首页</a></li>
                    <!--<li id="a2" class="top_li"><a href="../rulelists-5DB8E94302B3A9A7-1" class="top_a">政策法规</a></li>-->
                    <li id="a3" class="top_li"><a href="/user/user" class="top_a">网上报名</a></li>
                    <!--<li id="a4" class="top_li"><a href="../ticket_check" class="top_a">电子发票</a></li>-->
                    <!--<li id="a5" class="top_li"><a href="../admission/admission.html" class="top_a">准考证</a></li>-->
                    <!--<li id="a6" class="top_li"><a href="../examplan" class="top_a">考试计划</a></li>-->
                    <!--<li id="a7" class="top_li"><a href="../resultslist" class="top_a">成绩查询</a></li>-->
                    <!--<li id="a8" class="top_li"><a href="../queryscorelist" class="top_a">查分申请</a></li>-->
                    <!--<li id="a9" class="top_li"><a href="../certificatelist" class="top_a">证书查询</a></li>-->
                </ul>
            </div>
        </div>
    </div>
</header>

<div style="width: 1190px; margin: 0 auto; margin-top: -170px;">
    <ul>
        <li style="font-size: 16px; color: #328ad1; padding-left: 30px; background: url(/static/images/ver2/icon.png) -30px -870px no-repeat;">
            <a href="/user" style="color: #328ad1">首页</a> > 我的后台
        </li>
    </ul>
</div>

<div id="reg" style="width: 1200px; margin: 0 auto; margin-top:10px;">
    <div style="display: inline-block; width: 200px; background-color: #ffffff; padding:20px;">
        <div style="border:1px solid #eaeff5; padding:20px 20px 5px 20px;">
            <ul class="ul_title">
                <li style="font-size: 16px; font-weight: bold; color: #328ad1; border-left: 5px solid #328ad1; padding-left: 15px; padding-bottom: 5px; display: inline-block">
                    我的资料
                </li>
            </ul>
            <ul class="ul_list">
                <li><a href="javascript:SelSub(0);">密码修改</a></li>
                <li><a href="javascript:SelSub(1);">注册资料</a></li>


                <li><a href="javascript:SelSub(3);">报名信息</a></li>
            </ul>
        </div>

        <div style="border:1px solid #eaeff5; margin-top:10px; padding:20px 20px 5px 20px;">
            <ul class="ul_title">
                <li style="font-size: 16px; font-weight: bold; color: #328ad1; border-left: 5px solid #328ad1; padding-left: 15px; padding-bottom: 5px; display: inline-block">
                    考试相关
                </li>
            </ul>
            <ul class="ul_list" style="height:440px;">
                <li><a href="/forms" target="main">我要报名</a></li>
                <!--<li><a href="../admission/admission.html" target="_blank">打印准考证</a></li>-->
                <!--<li><a href="../resultslist" target="_blank">查询成绩</a></li>-->
                <!--<li><a href="../queryscorelist" target="_blank">查分申请</a></li>-->
                <!--<li><a href="../queryscorelist" target="_blank">查分申请状态</a></li>-->
                <!--<li><a href="../certificatelist" target="_blank">证书查询</a></li>-->
                <!--<li><a href="../certificatemaillist" target="_blank">证书邮寄</a></li>-->
            </ul>
        </div>
    </div>

    <div style="display: inline-block; width: 900px; float:right; background-color: #ffffff; padding:20px 20px 10px 20px;">
        <iframe id="main" name="main" style="height: 780px; width: 900px;" scrolling="auto" frameborder="0"
                src="/user/null"></iframe>
    </div>
</div>



<div class="bg-hide hide" id="bg_hide"></div>
<!--修改密码-->
<div class="bg-box hide" id="Div2">
    <div style="padding:8px 8px 8px 15px; background-color:#328ad1; color:#ffffff;">
        <ul>
            <li style="display:inline-block;">修改密码</li>
            <li style="display:inline-block; float:right; margin-right:10px;"><a href="javascript:close();"
                                                                                 class="bg-close"
                                                                                 style="color:#ffffff;">×</a></li>
        </ul>
    </div>
    <div style="padding:20px 20px 40px 20px;">
        <form action="#" method="post" id="Form_EditPwd" name="Form_EditPwd">
            <ul>
                <li style="display:inline-block; width:110px; padding:10px;">原密码：</li>
                <li style="display:inline-block; width:400px; padding:10px;"><input type="password" id="yPwd"
                                                                                    name="yPwd" title="原密码" value=""
                                                                                    class="input"
                                                                                    style="ime-mode: disabled;"/>
                </li>
                <li style="display:inline-block; width:110px; padding:10px;">新密码：</li>
                <li style="display:inline-block; width:400px; padding:10px;"><input type="password" id="Pwd" name="Pwd"
                                                                                    title="密码" value="" class="input"
                                                                                    style="ime-mode: disabled;"/>
                </li>
                <li style="display:inline-block; width:110px; padding:10px;">新密码：</li>
                <li style="display:inline-block; width:400px; padding:10px;"><input type="password" id="qPwd"
                                                                                    name="qPwd" title="密码确认" value=""
                                                                                    class="input"
                                                                                    style="ime-mode: disabled;"/>
                </li>
                <li style="width:560px; float:right; text-align:right; padding-top:20px;">
                    <input type="button" id="txt_submit_editpwd"
                           style="padding: 8px 20px; color: #ffffff; background-color: #BA3726; cursor:pointer;"
                           value="保存修改"/>
                </li>
            </ul>
        </form>
    </div>
</div>
</body>
<script type="text/javascript" src="/static/js/user.js"></script>
</html>
